<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="ensenso_nx">

    <!-- Colors -->
    <material name="Ensenso/Blue">
        <color rgba="0.1 0.1 1.0 0.9"/>
    </material>
    <material name="Ensenso/Grey">
        <color rgba="0.3 0.3 0.3 0.9"/>
    </material>
    <material name="Ensenso/Black">
        <color rgba="0.05 0.05 0.05 0.9"/>
    </material>
    
    <!-- Set origin link -->
    <link name="world" />    
    
    <!-- The bounding box of the Ensenso N35 camera -->
    <joint name="world_ensenso_camera" type="fixed">
        <parent link="world" />
        <child link="ensenso_camera" />
    </joint>
    <link name="ensenso_camera">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.05 0.05"/>
                <!-- <mesh filename="package://ensenso_nx/urdf/xxx.stl" scale="0.001 0.001 0.001"/> -->
            </geometry>
            <material name="Ensenso/Blue"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.05 0.05"/>
            </geometry>
        </collision>
    </link>
        
    <!-- GPIO connector: -->
    <joint name="$ensenso_camera_gpio" type="fixed" >
        <parent link="ensenso_camera"/>
        <child link="gpio"/>
        <origin xyz="0.1 0.0 0.0" rpy="0.0 1.570796 0.0"/>  
    </joint>       
    <link name="gpio">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.02" radius="0.01"/>
                <!-- <mesh filename="package://ensenso_nx/urdf/xxx.stl" scale="0.001 0.001 0.001"/> -->
            </geometry>
            <material name="Ensenso/Grey"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.02" radius="0.02"/>
            </geometry>
        </collision>
    </link>

    <!-- Ethernet connector: -->
    <joint name="$ensenso_camera_ethernet" type="fixed" >
        <parent link="ensenso_camera"/>
        <child link="ethernet"/>
        <origin xyz="0.1 0.015 0.0" rpy="0 0.0 0.0"/>  
    </joint>       
    <link name="ethernet">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.01 0.02"/>
            </geometry>
            <material name="Ensenso/Black"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02 0.01 0.02"/>
            </geometry>
        </collision>
    </link>

</robot>