<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="single_ensenso_n35">

<xacro:include filename="$(find ensenso_nx)/urdf/ensenso_n35.urdf.xacro" />

<link name="world"/>

<xacro:ensenso_n35 name="single_ensenso_n35" parent="world" focus_length="0.9">
	<origin xyz="0 0 1.0" rpy="3.141592 0 0" />
</xacro:ensenso_n35>

</robot>
