<?xml version="1.0"?>
<launch>
	<arg name="gui_tools" default="true" doc="RViz visualization,  rqt dynamic reconfigure and gzclient (if sim=true) window"/>
	<arg name="model_tf" default="true" doc="3D model visualization and tf"/>
	<arg name="config_file" default="$(find ensenso_nx)/config/ensenso_nx_params.yaml" doc="YAML file with default configuration. These canbe changed dynamically with dynamic_reconfigure"/>
	<arg name="namespace" default="ensenso_nx" doc="Namespace for topics and params"/>
	<arg name="use_sim" default="false" doc="Start gazebo with a default configuration for the ensenso nx35 model" />

	<group if="$(arg model_tf)">
		<param name="robot_description" command="$(find xacro)/xacro --inorder $(find ensenso_nx)/urdf/single_ensenso_n35.urdf"/>

		<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
			<!-- param name="use_gui" value="$(arg use_sim)" / -->
			<param name="publish_frequency" value="2" />
		</node>

		<param name="publish_frequency" value="2" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

		<!-- No sense if there is no urdf loaded -->
		<group if="$(arg use_sim)">
			<node name="spawn_ensenso_in_gazebo" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model ensenso_nx" respawn="false" output="screen" />
			<include file="$(find gazebo_ros)/launch/empty_world.launch">
				<arg name="world_name" default="$(find ensenso_nx)/worlds/ensenso_test.world"/>
				<arg name="paused" value="false"/>
				<arg name="gui" value="$(arg gui_tools)"/>
			</include>
		</group>
	</group>

	<group unless="$(arg use_sim)">
		<rosparam ns="$(arg namespace)" command="load" file="$(arg config_file)"/>
		<node ns="$(arg namespace)" pkg="ensenso_nx" type="ensenso_nx" name="ensenso_nx" output="screen" />
	</group>

	<group if="$(arg gui_tools)">
		<node name="rviz" pkg="rviz" type="rviz" args="-d $(find ensenso_nx)/rviz/ensenso_nx.rviz" />
	</group>

</launch>
